body{
    background: url("../images/plaid.jpg");
    position: relative;
}

#header{
    font-family: 'Josefin Sans', sans-serif;
    color: #DAD2D8;


}

main{
    font-family: 'Quicksand', sans-serif;
}

h2{
    text-align: center;
}